body * {
    
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #1f2937;
}

.header p{
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 50px;
}

.header-links {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 60px;
    align-items: center;
    font-size: 18px;
}


a {
    list-style-type: none;
    text-decoration: none;
    color: #E5E7EB;
}

.banner {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding-bottom: 50px;
}

.banner-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.banner-left .big-text, .banner-left .little-text {
    width: 450px;
    text-align: left;
}

.banner-left .big-text {
    font-weight: 900;
    color: #F9FAF8;
    font-size: 48px;
    flex-wrap: wrap;
}

.banner-left .little-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
    flex-wrap: wrap;
    margin-top: -20px;
}

.banner img {
    display: flex;
    height: 400px;
    width: auto;
}

.banner button {
    width: 80px;
    flex-shrink: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info.random {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.images figure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 400px;
}

.images img {
    height: 300px;
    border-radius: 25px;
    outline: 1px lightblue;
}

.images figcaption, .images img {
    width: auto;
}

.images figcaption {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.quote .text {
    color: #1F2937;
    font-weight: light;
    font-style: italic;
    font-size: 36px;
    width: 600px;
}

.quote .attribute {
    margin-top: -30px;
}

.ad {
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    margin: 50px 600px 50px 600px;
    gap: 30px;
}

.ad-left {
}

.ad button {
    color: #3882F6;
    height: 40px;
    width: 80px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.footer-text{
    color: #F9FAF8;
}