<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home/purplish8668/repos/Landing-Page-Portfolio-Project/static/styles.css">
    <title>Portfolio Website Project</title>
</head>
<body>
    <header>
        <img src="/home/purplish8668/repos/Landing-Page-Portfolio-Project/assets/logo.jpg" height="100px" width=auto>
        <ul class="header-links">
            <li><a href="google.com" target="_blank">Link One</a></li>
            <li><a href="google.com" target="_blank">Link Two</a></li>
            <li><a href="google.com" target="_blank">Link Three</a></li>
        </ul>
    </header>
</body>
</html>