<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home/purplish8668/repos/Landing-Page-Portfolio-Project/static/styles.css">
    <title>Portfolio Website Project</title>
</head>
<body>
    <div class="header">
        <p>Logo</p>
        <ul class="header-links">
            <li><a href="google.com" target="_blank">Link One</a></li>
            <li><a href="google.com" target="_blank">Link Two</a></li>
            <li><a href="google.com" target="_blank">Link Three</a></li>
        </ul>
    </div>
    <div class="banner">
        <div class="banner-left">
            <p class="big-text">This Website Is Awesome!</p>
            <p class="little-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, facilis. Minus libero natus molestiae tempora dolore delectus, aperiam doloribus voluptatibus saepe quos aspernatur ducimus, maiores rem porro. Aut, quibusdam neque.</p>
            <button>Sign Up</button>
        </div>
        <img src="/home/purplish8668/repos/Landing-Page-Portfolio-Project/assets/pexels-anthony-franklin-10595365.jpg" alt="A picture of downtown New Orleans">
    </div>
    <div class="info">
        <p class="info random">Some Random Information</p>
        <div class="images">
            <figure>
                <img class="image" src="/home/purplish8668/repos/Landing-Page-Portfolio-Project/assets/1.webp">
                <figcaption>The Pelican is the Louisiana State Bird, as well as the mascot of the NBA's New Orleans Pelicans</figcaption>
            </figure>
            <figure>
                <img class="image" src="/home/purplish8668/repos/Landing-Page-Portfolio-Project/assets/2.jpg">
                <figcaption>The Pelican is the Louisiana State Bird, as well as the mascot of the NBA's New Orleans Pelicans</figcaption>
            </figure>
            <figure>
                <img class="image" src="/home/purplish8668/repos/Landing-Page-Portfolio-Project/assets/3.webp">
                <figcaption>The Pelican is the Louisiana State Bird, as well as the mascot of the NBA's New Orleans Pelicans</figcaption>
            </figure>
            <figure>
                <img class="image" src="/home/purplish8668/repos/Landing-Page-Portfolio-Project/assets/4.jpg">
                <figcaption>The Pelican is the Louisiana State Bird, as well as the mascot of the NBA's New Orleans Pelicans</figcaption>
            </figure>
        </div>
    </div>
    <div class="quote">
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fuga incidunt. Aperiam commodi aliquam rem eaque sequi quae voluptates accusamus repellendus corporis cumque. Architecto sed totam animi perferendis, ratione repudiandae.</p>
        <p class="attribute">-John Smith</p>
    </div>
    <div class="ad">
        <div class="ad-left">
            <p class="big-text">Big Text in The Ad</p>
            <p class="little-text">Little Text in The Ad</p>
        </div>
        <button>Button</button>
    </div>
    <div class="footer">
        <p class="footer-text">Copyright The Odin Project 2024</p>
    </div>
</body>
</html>